docx2txt == 0.9
ffmpeg-python == 0.2.0
groq == 0.22.0
llama_index == 0.12.31
llama-index-llms-openai == 0.3.37
llama-index-llms-groq == 0.3.1
llama-index-embeddings-openai == 0.3.1
nltk == 3.9.1
openai == 1.75.0
openpyxl == 3.1.5
pillow == 11.2.1
pydub == 0.25.1
PyMuPDF == 1.25.5
python-docx == 1.1.2
requests == 2.32.3
streamlit == 1.44.1
tavily-python == 0.5.4
tiktoken == 0.9.0
